.intro {
    background-image: url('../img/bg.jpg');
    background-position: top center;
    background-size: cover;
    height: 760px;
}
@media (max-width: 767px) {
    
     .intro {
         height: 400px;
     }
}



.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.icon-lightbulb {
  width: 0.6875em;
  color: red;
  font-size: 48px;
}
